body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #827af9;
}

.category-aktif {
  background-color: #827af9;
  color: white;
}

.btn-primary {
  background-color: #827af9;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
